.main-banner{
    background-color: #313232;
    height: 800px;
    border-bottom: 10px solid #000;
    background-size: 100px;
    background-repeat: no-repeat;
}

.main-banner .wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

}

.main-banner .box{
    margin-bottom: 88px;
}

.main-banner .navigation{
    display: flex;
    justify-content: center;
    gap: 110px;
}