.main-section {
    background-color: #4670E4;
    padding-top: 72px;
    padding-bottom: 72px;
    border-bottom: 10px solid #000;

}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-bgBlack {
    background-color: #262626;
}

.main-section.-bdFirst{
  border-color: #000;
}