.main-footer {
    background-color: #000;
    padding: 28px 0;
    text-align: center;
    
}

.footer-name {
    font-family: 'Press Start 2P', sans-serif;
    color: #48caff;
    font-size: 22px;
    text-shadow: 4px 4px 0 #000;
    
    
}